/*--------------
    RESET
--------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
ul li{
    list-style: none;
}
body{
    font-family: "PT Sans", sans-serif;
    line-height: 27px;
}

/*--------------
    DEBUG
--------------*/
.debug{
    border: 2px dashed black;
}
.debug-in{
    border: 1px dashed #ff5151;
}
.dubug-col{
    border: 1px dashed #1101ee;
}

/*--------------
    UTILITY
--------------*/
.flex{
    display: flex;
    flex-wrap: wrap;
}
.row{
    margin-left: -10px;
    margin-right: -10px;
}
.centering{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
.justify{
    justify-content: space-between;
}
.grow{
    flex-grow: 1;
}
.margin-top{
    margin-top: 50px;
}
.text-center{
    text-align: center;
}

/*--------------
    GENERAL
--------------*/
.btn{
    border: none;
    padding: 6px;
    border-radius: 30px;
    background-color: #fff;
    font-family: "PT Sans", sans-serif;
    cursor: pointer;
}
.card{
    padding: 20px;
    border-radius: 20px;
}
.bg-vaiolet{
    background-color: #9792e4;
}
.info-card .col,
.benefit .col{
    width: calc(100% / 3);
    padding: 10px;
}
h2, h3{
    color: #9792e4;
}

/*--------------
    HEADER
--------------*/
header{
    background-color: #0084fd;
    padding: 6px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 11px 12px -13px #000000;
}
.menu li{
    padding: 0 20px;
    color: #fff;
    cursor: pointer;
}
header .logo, header .menu{
    min-height: 50px;
    align-items: center;
}
.menu i{
    display: none;
}

/*--------------
    MAIN
--------------*/
/*** SECTION INFO-CARD ***/
.text-smart-50{
    width: 50%;
}
.info-card .card{
    background-color: #b5ddff;
}
.info-card i:not(.fa-apple){
    color: #0084fd;
    font-size: 50px;
    margin-bottom: 20px;

}
.info-card h3{
    color: #0084fd;
}
.info-card p{
    font-weight: 700;
    color: #5a6e7f;
    margin-top: 20px;
}
.info-card img{
    max-width: 250px;
    display: block;
    margin: 0 auto;
}
.info-card button{
    background-color: #0084fd;
    color: #fff;
    margin-top: 20px;
    width: 60%;
}
/*** FINE SECTION INFO-CARD ***/
/*** SECTION PLANNING ***/
.planning .centering{
    max-width: 800px;
}
.planning .col{
    width: 50%;
    align-items: end;
}
.planning .card{
    background-color: #fff;
}
.planning .left img{
    max-width: 350px;
    display: block;
    margin: 0 auto;
}
.planning .left h3{
    color: #fff;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.planning .right h3{
    color: #000;
}
.planning .left p{
    color: #fff;
    padding-right: 20px;
}
.planning .btn{
    font-size: 18px;
    background-color: #9792e4;
    padding: 20px 24px;
    margin-top: 30px;
}
.planning .row{
    padding: 20px;
}
.planning .card img{
    max-height: 200px;
}
/*** FINE SECTION PLANNING ***/
/*** SECTION REVIEWS ***/
.testimonial img{
    border-radius: 50%;
    max-width: 150px;
}
.testimonial .card{
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 25px;
}
.text-reviews{
    padding: 0 30px;
    color: #fff;
}
.text-reviews h4{
    padding-top: 30px;
}
.testimonial .text-center h2{
    color: #9792e4;
    font-size: 40px;
    margin: 30px 0;
}
/*** FINE SECTION REVIEWS ***/
/*** SECTION BENEFIT ***/
.benefit{
    padding: 30px 0;
}
.benefit .card{
    background-color: #fff;
}
.benefit .title{
    font-size: 35px;
    color: #fff;
    margin: 40px 0;
}
.benefit h2{
    color: #9792e4;
}
.benefit h2{
    font-size: 60px;
    margin: 30px 0;
}
.benefit p{
    color: #737373;
    margin: 20px 0;
    padding-right: 20px;
}
.benefit button{
    padding: 5px 40px;
    color: #fff;
}
/*** FINE SECTION BENEFIT ***/
/*** SECTION ABOUT-US ***/
.about-us .text{
    width: 70%;
}
.about-us .picture{
    width: 30%;
}
.about-us img{
    max-width: 200px;
    border-radius: 50%;
}
.about-us h2{
    margin-bottom: 30px;
    font-size: 60px;
}
.about-us p{
    padding: 20px 0;
    padding-right: 50px;
}
.about-us h3{
    width: 60%;
    margin: 20px 0;
}
.position{
    position: relative;
}
.picture .fa-solid{
    position: absolute;
    font-size: 60px;
    color: #9792e4;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.about-us button{
    padding: 5px 20px;
    color: #fff;
}
.about-us .btn i{
    margin-right: 10px;
}
/*** FINE SECTION ABOUT-US ***/

/***********************
    RESPONSIVE
***********************/
/* TABLET */
@media screen and (max-width: 992px){
    .menu i{
        display: block;
        color: #fff;
        padding-right: 20px;
    }
    .menu nav, .btn-none{
        display: none;
    }
    .info-card .text-smart-50{
        width: 100%;
    }
    .planning .col{
        width: 100%;
        margin-top: 20px;
    }
    .planning .left img{
        max-width: 80%;
        display: block;
        margin: 0 auto;
    }
    .benefit .col{
        width: 50%;
    }
}



/* SMARTPHONE */
@media screen and (max-width: 768px){
    .info-card .col,
    .benefit .col{
        width: 100%;
    }
    .testimonial .card{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .testimonial img{
        margin-bottom: 15px;
    }
    .testimonial h4{
        text-align: center;
    }
    .about-us .picture,
    .about-us .text{
        width: 100%;
    }
}